---
import AppShell from "../../../components/AppShell.astro";
---

<AppShell routeId="/app/sell/upload" title="Upload to Sell" activeTab="sell">
  <p class="text-sm text-slate-700">Upload placeholder.</p>
</AppShell>
